body {
  background: #D4EFDF;
  text-align: center;
}

h1 {
  font-family: Sans-serif;
  font-size: 50px;
}

h2 {
  
  color:    #CFB53B;
  font-size: 25px
}
#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}


#img-caption {
  font-family: Sans-serif;
}
p {
  font-family: Helvetica;
  font-size: 16px;
}

.tribute-link
{
  font-size: 50px;
}
